#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.white-content {
  background: #e4e4e4;
}

.dark-content {
  background-color: darkslategray;
  color: white;
}
